@font-face {
  font-family: "Overlock";
  src: url("./fonts/Overlock_SC/OverlockSC-Regular.ttf");
}

body {
  font-family: "Overlock, cursive";
  font-size: 15px;
  background-image: url("./images/snacks-in-america.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
